nav>a.active {
    border: 10px solid #e6e4e0;
    box-sizing: content-box;
    background-color: #19B5F2;
    background-blend-mode: overlay;
    z-index: 2;
    cursor: pointer;
    transform: translateY(-45px);
}

nav>a.active>svg {
    fill: white;
}


nav>a>svg {
    vertical-align: top;
    /* height: 70px;
    width: 70px; */
    margin: 0 auto;
    /* background-color: red; */
    height: 30px;
    fill: #9A9A9A;
}



.nav-icon {
    height: 30px;
    width: 30px;
    fill: #9A9A9A;
}

.navbar-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    height: 11vh;
    background-color: #F1F2F4;
}

nav {
    position: absolute;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: space-between;
}

nav>a {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    /* background-color: #f8f8f8; */
    border-radius: 50%;
    height: 70px;
    width: 70px;
    transition: transform 0.1s;
    position: relative;
}
.ring {
    animation: ring .2s 5 ease-in-out;
}

nav>a>.n-notification {
    all: unset;
    color: white;
    background-color: red;
    font-size: 0.9rem;
    border-radius: 50px;
    padding: 0px 5px 0px 5px;
    font-weight: 900;
    position: absolute;
    top: 5px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes ring {
    0% {
      transform: rotate(0deg);
    }
    33% {
      transform: rotate(15deg);
    }
    66% {
        transform: rotate(-15deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }


.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 87vh;
    width: 100%;
}

.spinner {
    width: 60px;
    height: 60px;
    position: relative;
}

.spinner .dot {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
}

.spinner .dot::after {
    content: "";
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: rgb(12, 180, 231);
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.spinner .dot {
    animation: spin 2s infinite;
}

.spinner .dot:nth-child(2) {
    animation-delay: 100ms;
}

.spinner .dot:nth-child(3) {
    animation-delay: 200ms;
}

.spinner .dot:nth-child(4) {
    animation-delay: 300ms;
}

.spinner .dot:nth-child(5) {
    animation-delay: 400ms;
}