.map-container {
    height: 100vh;
    width: 100%;
}

.activity-monitor {
    position: fixed;
    top: 20px;
    left: 5%;
    z-index: 999;
    width: 90%;
    border-radius: 25px;
    background-color: #4ED06B;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;

    div:nth-child(1) {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        fill: white;

        svg {
            height: 75px;
        }
    }

    div:nth-child(2) {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 10px;
    }

    h1 {
        margin: 0;
        padding: 0;
    }
}

.activity-monitor-grey {
    background-color: grey !important;
}

.marker {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    min-width: 140px;
    transform: scale(1.2);

    h3 {
        margin: 0;
        padding: 0 0 10px 0;
        font-weight: bold;
    }


    ::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: white transparent transparent transparent;
    }
}

.locaction-dot {
    fill: red;
    width: 25px;
}

.container-img-and-bickes {
    display: flex;
    flex-direction: row;
    width: 100%;

    img {
        object-fit: cover;
        object-position: center;
        width: 60px;
        border-radius: 5px;
    }
}

.container-number-bikes {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 5px;
    box-sizing: border-box;

    div {
        width: 100%;
        padding: 1px 0;
        display: flex;
        justify-content: space-between;

        svg {
            width: 20px;
        }
    }

    div:first-child {
        fill: #4ED06B;
        color: #4ED06B;
        border-bottom: 1px gray solid;
    }

    div:last-child {
        fill: grey;
        color: gray;
    }
}

.container-dialog {
    box-sizing: border-box;
    width: 82vw;

    .button-more {
        text-align: right;
    }

    .dialog-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        box-sizing: border-box;
        border-bottom: 1px solid #e0e0e0;

        div {
            img {
                width: 30vw;
                border-radius: 5px;
            }
        }

        h2 {
            margin: 0;
            padding: 0;
            font-size: 1.5rem;
            text-align: right;
        }

    }

    .slots-main {
        width: 100%;

        .slots-container {

            height: 35vh;
            display: flex;
            flex-direction: row;
            // flex-wrap: wrap;
            align-items: center;
            justify-content: center;

            .inside-slots-container {
                height: 200px;
                max-width: 82vw;
                display: flex;
                flex-wrap: nowrap;
                width: auto;

                img {
                    height: 100%;
                }

                .slot {
                    position: relative;
                    max-width: 104px;
                    border-radius: 30px;

                    span {
                        position: absolute;
                        bottom: 0;
                        color: white;
                        z-index: 2;
                        left: 38%;
                        font-weight: 700;
                        font-size: 0.95rem;
                    }
                }

                .empty {
                    background-color: #ccc;
                }

                .no-auth {
                    background-color: red;
                }

                .last-slot {
                    transform: rotateY(180deg) translateX(1px);
                }

            }



        }

        h3 {
            margin: 0;
            padding: 0;
            font-size: 1.2rem;
            text-align: center;
        }


    }

    .dialog-footer {
        display: flex;
        justify-content: flex-end;
        padding: 10px;
    }

}

.confirm-dialog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;

    p {
        margin: 0;
        padding: 20px 0;
        box-sizing: border-box;
        font-size: 1.2rem;
        text-align: center;
    }

    .button-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 10px;
    }

    .slot-free-container {
        display: flex;
        justify-content: center;
        width: 200px;
        height: 200px;
        position: relative;

        .slot-free {
            max-height: 100%;
            width: auto;
        }

        .last-slot {
            transform: rotateY(180deg) translateX(1px);
        }

        span {
            position: absolute;
            bottom: 0;
            color: white;
            z-index: 2;
            left: 45%;
            font-weight: 700;
            font-size: 0.95rem;
        }

    }
}

.bike-loader {
    max-width: 100%;
    mix-blend-mode: color-burn;
}

.main-incidencia {
    padding: 25px;


    .button-send-incidence {
        text-align: right;
        padding-top: 15px;
        // background-color: red;
    }


}